.generalPedidos{
    padding: 0 0 0 0;
    width: 100vw;
    height: 100vh;
}

.titulos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 9em;

}
.nombresTitulos{
    color: grey;
    width: 9em;
}
.listadoPedidos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-bottom:1em solid lightgrey ;
    border: 0;
    width: 100vw;
    height: 7em;
}
.lineaPedidos{
    width: 10.5em;
}

/* BOTONES */
.buttonDelete{
    height: 1.5em;
    width: 5em;
}

.buttonEdit{
    height: 1.5em;
    width: 5em;
}